<h1>All the Lists</h1>
<div class="cards mt-3">
  <% @lists.each do |list| %>
  <%# <h3><%= link_to list.name, list_path(list) %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>)">
    <%= link_to list.name, list_path(list) %>
  </div>




  <%# <img src="<%=list.image_url" class="card-img-top" alt="..."> %>
  <%# <div class="card-body">
    <h5 class="card-title"><%= link_to list.name, list_path(list) %>
    <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
    <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
<% end %>
</div>
<p><%= link_to "create a new list", new_list_path, class: "btn btn-primary" %></p>
